p::first-letter {
text-transform: uppercase;
}
.col-sm-9 {
  background-image: linear-gradient(
    to top,
    #69d5df,
    #57cad9,
    #43bfd4,
    #2bb4cf,
    #00a9c9
    );
  border: solid 1px #e6e5e5c2;
  border-radius: 20px;
  margin-top: 20px;
  height: 620px;
  margin-left: 20px;
  min-width: 400px;
  padding-bottom: 20px;
}

.top {
  height: 65px;
  min-width: max-content;
}

.zip-city {
  border: solid 1px #d6d5d5da;
  border-radius: 0.5ch;
  height: min-content;
  margin: 30px;
  margin-bottom: 10px;
  margin-right: 15px;
  max-width: 280px;
  width: 750px;  
}

.search-button {
  background-color: #efefef;
  border: solid 2px #e6e5e5c2;
  border-radius: 0.5ch;
  color:#727272;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-top: 30px;
  height: max-content;
}
.search-button:hover {
  background-color: #d4d4d4;
  transition: all 100ms ease;
}

.currentLocation-button {
  background-color: #efefef;
  border: solid 2px #e6e5e5c2;
  border-radius: 0.5ch;
  color:#727272;
  font-size: 12px;
  margin-bottom: 20px;
  margin-left: 35px;
}

.currentLocation-button:hover {
  background-color: #d4d4d4;
  transition: all 100ms ease;
}

.row.second-line {
  height: min-content;
  margin-bottom: 0px;
}

.col-4-place {
  color: #d4d4d4;
  font-size: 30px;
  font-weight: 500;
  margin-left: 30px;
  width: 300px;
}

.city {
  color: #ffffffd2;
  font-size: 30px;
  font-weight: 500;
  margin-left: 10px;
}

.date {
  color: #ffffffd2;
  font-size: 15px;
  font-weight: 500;
  height: min-content;
  margin-left: 30px;
  margin-bottom: 5px;
}

.weatherDescription{
  color: #ffffffd2;
  font-size: 13px;
  font-weight: 500;
  height: min-content;
  margin-left: 30px;
}

.emoji {
  height: 50px;
}
.col-1-emoji {
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 50px;
}

.col-4.temp {
  max-width: 100%;
}

.temperature {
  color: #ffffffd2;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0px;
  padding-right: 5px;
  width: auto;
}
.maxmin {
  color: #ffffffd2;
  font-size: 12px;
  height: max-content;
  margin: 0px;
  margin-left: 15px;
  max-width: 100%;
  padding: 0px;
}

.real {
  color: #ffffffd2;
  font-size: 12px;
  max-width: 120%;
  padding: 0px;
  text-align: left;
}

.col-3.features {
  color: #ffffffd2;
  height: auto;
  margin-right: 10px;
  min-width: max-content;
}

.tempButton {
  transition: all 100ms ease-in-out;
  background-color: #d7dde5;
  border: solid 0.3px #e6e5e5c2;
  border-radius: 1px;
  color:#727272;
  font-size: 15px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 15px;
  width: 35px;
}

.tempButton:hover {
  background-color:#9b9b9b71;
  transition: all 100ms ease;
}

.celsiusButton {
  border-bottom-left-radius: 0.5ch;
  border-top-left-radius: 0.5ch;
  margin-right: -3px;
}

.fahrenheitButton {
  border-bottom-right-radius: 0.5ch;
  border-top-right-radius: 0.5ch;
  margin-left: -3px;
}

.properties {
  font-size: 10px;
  margin-bottom: 0px;
  width: 120%;
}

.col-11 {
  border: solid 2px #e6e5e5c2;
  border-radius: 0.75ch;
  border-style: ridge;
  margin: 0 auto;
  margin-top: 10px;
}
.col-1.col-sm-1 {
  color: #ffffffbb;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}

.col-1.col-sm-1.sundtemp {
  min-width: max-content;
}

.col-9 {
  border: solid 2px #e6e5e5c2;
  border-radius: 0.75ch;
  border-style: ridge;
  margin: 0 auto;
  max-width: max-content;
}

.open-source{
  font-size: 10px;
  margin-left: 25px;
}